###########################################################
###################### General Setup ######################
###########################################################

### Paths #################################################

# Point to the path of your applications code on your host
APP_CODE_PATH_HOST=../www

# Point to where the `APP_CODE_PATH_HOST` should be in the container
APP_CODE_PATH_CONTAINER=/var/www

# You may add flags to the path `:cached`, `:delegated`. When using Docker Sync add `:nocopy`
APP_CODE_CONTAINER_FLAG=:cached

# Choose storage path on your machine. For all storage systems
DATA_PATH_HOST=../ispdock_data

### Drivers ################################################

# All volumes driver
VOLUMES_DRIVER=local

# All Networks driver
NETWORKS_DRIVER=bridge

### Docker compose files ##################################

# Select which docker-compose files to include. If using docker-sync append `:docker-compose.sync.yml` at the end
COMPOSE_FILE=docker-compose.yml

# Change the separator from : to ; on Windows
COMPOSE_PATH_SEPARATOR=:

# Define the prefix of container names. This is useful if you have multiple projects that use ispdock to have seperate containers per project.
COMPOSE_PROJECT_NAME=ispdock

### Docker Host IP ########################################

# Enter your Docker Host IP (will be appended to /etc/hosts). Default is `10.0.75.1`
DOCKER_HOST_IP=10.0.75.1

### Windows Path ##########################################

# A fix for Windows users, to ensure the application path works
COMPOSE_CONVERT_WINDOWS_PATHS=1

### Environment ###########################################

###########################################################
################ Containers Customization #################
###########################################################


### WORKSPACE #############################################
WORKSPACE_TIMEZONE="America/Sao_Paulo"

### NGINX #################################################

NGINX_HOST_HTTP_PORT=80
NGINX_HOST_HTTPS_PORT=443
NGINX_HOST_LOG_PATH=./logs/nginx/
NGINX_CONFIG_PATH=./nginx/config.d/
NGINX_SITES_PATH=./nginx/sites/
NGINX_SSL_PATH=./nginx/ssl/

### Looking-Glass #########################################

LOOKINGGLASS_HOST_HTTP_PORT=80
LOOKINGGLASS_HOSTNAME=lg.yourdomain.tld
LOOKINGGLASS_CONFIG_FILE=./looking-glass/config.php
LOOKINGGLASS_LOGO_FILE=./looking-glass/logo.png
LOOKINGGLASS_LOG_FILE=./looking-glass/looking-glass.log

### Grafana #########################################
GRAFANA_HOST_HTTP_PORT=3000
GRAFANA_HOSTNAME=grafana.yourdomain.tld


### MYSQL #################################################

MYSQL_VERSION=5.7
MYSQL_PORT=3306

### ZABBIX-SERVER #################################################

ZABBIX_VERSION=alpine-5.4-latest
ZABBIX_PORT=10051
ZABBIX_HOSTNAME=zabbix.yourdomain.tld


ZABBIX_WEB_PORT=8080

#####
### Speedtest Servers
##### 

### NPERF-SERVER #################################################

NPERF_HOSTNAME=nperf.yourdomain.tld
NPERF_WEB_PORT=8081
